#add { 
	background: url(../img/field.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    width: auto;
}
body {
    font-family: "Arial New", Arial, sans-serif;
}
h1, h2 {
	color: #ffff56;
    text-shadow: 2px 2px #ff0000;
    margin: 0px;
}
textarea {
    display: block;
}

form ul {
    list-style: none;
}
.required {
    outline: red solid 2px;
}
fieldset {
    border: hidden;
    padding: 0px;
}
legend {
    font-weight: bold;
}
#data > ul > li {
	margin-bottom: 25px;
}
#errors {
	background: red;
	color: white;
}
#index {
	background: url(../img/fieldlights.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
}
#index div {
	margin: 10px;
}
.slider {
	display: inline;
}
a:link {color: #ffff56;}
a:visited {color: #ff0000;}